# Data cleaning by pratice using Python

## General introduction
This data contains the overall and MMR-specific immunization rates for 46,412 
schools across 32 US States. Each row corresponds to one school and includes
a number of variables including the latitude, longitude, name, and vaccination
rates.

### Read Data

In [1]:
import pandas as pd
pd.read_csv('data/measles.csv')

,index,state,year,name,type,city,county,district,enroll,mmr,overall,xrel,xmed,xper,lat,lng
0,1,Arizona,2018-19,A J Mitchell Elementary,Public,Nogales,Santa Cruz,NaN,51.0,100.0,-1.0,NaN,NaN,NaN,31.347819,-110.938031
1,2,Arizona,2018-19,Academy Del Sol,Charter,Tucson,Pima,NaN,22.0,100.0,-1.0,NaN,NaN,NaN,32.221922,-110.896103
2,3,Arizona,2018-19,Academy Del Sol - Hope,Charter,Tucson,Pima,NaN,85.0,100.0,-1.0,NaN,NaN,NaN,32.130493,-111.117005
3,4,Arizona,2018-19,Academy Of Mathematics And Science South,Charter,Phoenix,Maricopa,NaN,60.0,100.0,-1.0,NaN,NaN,NaN,33.485447,-112.130633
4,5,Arizona,2018-19,Acclaim Academy,Charter,Phoenix,Maricopa,NaN,43.0,100.0,-1.0,NaN,2.33,2.33,33.495620,-112.224722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46406,1511,Wisconsin,2018-19,Vance Creek Amish,NaN,Prairie Farm,Barron,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN,45.232586,-91.983063
46407,1512,Wisconsin,2018-19,Walnut Grove Amish,NaN,Hillpoint,Sauk,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN,43.423794,-90.112525
46408,1513,Wisconsin,2018-19,Wauwatosa Virtual Academy,NaN,Wauwatosa,Milwaukee,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN,43.059360,-88.063521
46409,1514,Wisconsin,2018-19,Weston Elementary,NaN,Weston,Marathon,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN,44.910337,-89.571602
46410,1515,Wisconsin,2018-19,WISE Academy,NaN,Nekoosa,Wood,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN,44.309343,-89.916676

import pandas as pd
pd.read_csv('data/measles.csv')### Data Dictionary

|Column    |Explanation                                                              |
| -------- | ----------------------------------------------------------------------- |
|index     | Index ID                                                                |
|state     | School's state                                                          |
|year      | School academic year                                                    |
|name      | School name                                                             |
|type      | Whether a school is public, private, charter                            |
|city      | City                                                                    |
|county    | County                                                                  |
|district  | School district                                                         |
|enroll    | Enrollment                                                              |
|mmr       | School's Measles, Mumps, and Rubella (MMR) vaccination rate             |
|overall   | School's overall vaccination rate                                       |
|xrel      | Percentage of students exempted from vaccination for religious reasons  |
|xmed      | Percentage of students exempted from vaccination for medical reasons    |
|xper      | Percentage of students exempted from vaccination for personal reasons   |


This data was compiled by the [Wall Street Journal](https://github.com/WSJ/measles-data) from 
a wide variety of data sources including state education and health departments, 
and the National Center for Education Statistics.
The data was released under the [Creative Commons Attribution-ShareAlike 4.0 International License](https://creativecommons.org/licenses/by-sa/4.0/).

In [1]:
import pandas as pd
measles = pd.read_csv('data/measles.csv')
measles.head()

,index,state,year,name,type,city,county,district,enroll,mmr,overall,xrel,xmed,xper,lat,lng
0,1,Arizona,2018-19,A J Mitchell Elementary,Public,Nogales,Santa Cruz,NaN,51.0,100.0,-1.0,NaN,NaN,NaN,31.347819,-110.938031
1,2,Arizona,2018-19,Academy Del Sol,Charter,Tucson,Pima,NaN,22.0,100.0,-1.0,NaN,NaN,NaN,32.221922,-110.896103
2,3,Arizona,2018-19,Academy Del Sol - Hope,Charter,Tucson,Pima,NaN,85.0,100.0,-1.0,NaN,NaN,NaN,32.130493,-111.117005
3,4,Arizona,2018-19,Academy Of Mathematics And Science South,Charter,Phoenix,Maricopa,NaN,60.0,100.0,-1.0,NaN,NaN,NaN,33.485447,-112.130633
4,5,Arizona,2018-19,Acclaim Academy,Charter,Phoenix,Maricopa,NaN,43.0,100.0,-1.0,NaN,2.33,2.33,33.495620,-112.224722

In [2]:
measles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46411 entries, 0 to 46410
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     46411 non-null  int64
 1   state     46411 non-null  object
 2   year      41730 non-null  object
 3   name      46411 non-null  object
 4   type      19237 non-null  object
 5   city      29072 non-null  object
 6   county    41253 non-null  object
 7   district  0 non-null      float64
 8   enroll    33567 non-null  float64
 9   mmr       46411 non-null  float64
 10  overall   46411 non-null  float64
 11  xrel      94 non-null     object
 12  xmed      12972 non-null  float64
 13  xper      6411 non-null   float64
 14  lat       44859 non-null  float64
 15  lng       44859 non-null  float64
dtypes: float64(8), int64(1), object(7)
memory usage: 5.7+ MB

## Data analysis

In [3]:
measles.isna().sum()

index           0
state           0
year         4681
name            0
type        27174
city        17339
county       5158
district    46411
enroll      12844
mmr             0
overall         0
xrel        46317
xmed        33439
xper        40000
lat          1552
lng          1552
dtype: int64

In [4]:
measles.year.unique()

array(['2018-19', '2017-18', nan, '2017'], dtype=object)

In [5]:
measles.type.unique()

array(['Public', 'Charter', 'Private', nan, 'Kindergarten', 'Nonpublic',
       'BOCES'], dtype=object)

In [6]:
measles.overall.min()

-1.0

In [7]:
measles.mmr.min()

-1.0

In [8]:
measles.xper.max()

169.23

In [9]:
measles.xrel.unique()

array([nan, True], dtype=object)

In [10]:
measles.duplicated().sum()

0

## Cleaning Data

In [11]:
measles.drop('xrel', axis=1, inplace=True)
measles.drop('district', axis=1, inplace=True)
measles.columns

Index(['index', 'state', 'year', 'name', 'type', 'city', 'county', 'enroll',
       'mmr', 'overall', 'xmed', 'xper', 'lat', 'lng'],
      dtype='object')

In [13]:
measles.type.astype('category')
measles.type.describe()

count       46411
unique          7
top       Missing
freq        27174
Name: type, dtype: object

In [3]:
measles.loc[measles['type'].isna(), 'type'] = 'Missing'
measles.type.unique()

array(['Public', 'Charter', 'Private', 'Missing', 'Kindergarten',
       'Nonpublic', 'BOCES'], dtype=object)

In [14]:
measles.type.astype('category')
measles.type.describe()

count       46411
unique          7
top       Missing
freq        27174
Name: type, dtype: object

In [15]:
measles.loc[measles['enroll'].isna(), 'enroll'] = 0

In [16]:
measles.enroll.astype('int64')
measles.enroll.describe()

count    46411.000000
mean        87.181595
std        147.473288
min          0.000000
25%          0.000000
50%         47.000000
75%         95.000000
max       6222.000000
Name: enroll, dtype: float64

In [17]:
measles.loc[measles.overall < 0, 'overall'] = 0
measles.loc[measles.xmed < 0, 'xmed'] = 0
measles.loc[measles.xper > 100, 'xper'] = 0
measles.loc[measles.xmed.isna(), 'xmed'] = 0
measles.loc[measles.xper.isna(), 'xper'] = 0
measles.loc[measles.lat.isna(), 'lat'] = 0
measles.loc[measles.lng.isna(), 'lng'] = 0

In [18]:
measles.state.astype('string')
measles.name.astype('string')
measles.city.astype('string')
measles.county.astype('string')

0        Santa Cruz
1              Pima
2              Pima
3          Maricopa
4          Maricopa
            ...
46406        Barron
46407          Sauk
46408     Milwaukee
46409      Marathon
46410          Wood
Name: county, Length: 46411, dtype: string

In [19]:
measles[['startYear', 'endYear']] = measles['year'].str.split('-', expand=True)
measles.endYear = '20'+measles.endYear

In [20]:
measles.drop('year', axis=1, inplace=True)

In [21]:
measles.startYear = pd.to_datetime(measles.startYear, format='%Y')
measles.endYear = pd.to_datetime(measles.endYear, format='%Y')

In [22]:
measles.head()

,index,state,name,type,city,county,enroll,mmr,overall,xmed,xper,lat,lng,startYear,endYear
0,1,Arizona,A J Mitchell Elementary,Public,Nogales,Santa Cruz,51.0,100.0,0.0,0.00,0.00,31.347819,-110.938031,2018-01-01,2019-01-01
1,2,Arizona,Academy Del Sol,Charter,Tucson,Pima,22.0,100.0,0.0,0.00,0.00,32.221922,-110.896103,2018-01-01,2019-01-01
2,3,Arizona,Academy Del Sol - Hope,Charter,Tucson,Pima,85.0,100.0,0.0,0.00,0.00,32.130493,-111.117005,2018-01-01,2019-01-01
3,4,Arizona,Academy Of Mathematics And Science South,Charter,Phoenix,Maricopa,60.0,100.0,0.0,0.00,0.00,33.485447,-112.130633,2018-01-01,2019-01-01
4,5,Arizona,Acclaim Academy,Charter,Phoenix,Maricopa,43.0,100.0,0.0,2.33,2.33,33.495620,-112.224722,2018-01-01,2019-01-01